header{
    width: 100%;
    height: 50px;
    background-color: rgb(138, 43, 226);
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.greetment{
    font-size: 25px;
}
.log-out{
    padding: 5px;
    font-size: 14px;
}
.log-out:hover{
    color: rgb(226, 223, 223);
    cursor: pointer;
}